*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(rgba(207, 41, 41, 0.5),rgba(0,0,0,0.5)),url(./img/back2.jpg); */
  background-image: linear-gradient(rgba(43, 3, 3, 0.623),rgba(0,0,0,0.5)),url(./img/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
  .baloon{
  width: 11%;
  position: absolute;
}
.witch{
  width: 11%;
  position: absolute;
  bottom: 4vh;
  left: 44%;
  z-index: 2;
}
.baloon1{
  left: 15%;
  z-index: 3;
}
.baloon2{
  left: 43%;
  z-index: 3;
}
.baloon3{
  left: 72%;
  z-index: 3;
}
.bomb{
  height: 3vh;
  width: 2vw;
  z-index: 3;
  /* background-image: url(./img/bomb.png); */
  /* background-color: #eee; */
  border:red 1px solid;
}
.bomb img{
  width: 10vh;
  transform: translate(-25%,-50%);
}
.fire img{
  transform: rotate(180deg);
  width: 15vh;
  z-index: 2;
}
@media (max-width:920px){
  .baloon{
    width: 15%;
  }
}
@media (max-width:700px){
  .baloon{
    width: 18%;
  }
  .witch{
    width: 14%;
  }
}
@media (max-width:550px){
  .baloon{
    width: 18%;
  }
  .witch{
    width: 20%;
  }
}
@media (max-width:380px){
  .baloon{
    width: 20%;
  }
  .witch{
    width: 24%;
  }
=======
>>>>>>> 9c650e7509c1cb8743c7d7f441a805ef009e9810
}